.portfolio {

    &_grid-section {

        padding: 20px;

        @include breakpoint-up(medium) {
            flex: 2;
         }

        p {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 2rem;
        }

        span {
            h3 {
                font-size: 0.9rem;
                padding-left: 1.5rem;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }

            h3 a:hover{
                text-decoration: underline;

            }
        }
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 40px;
        align-items: stretch;
        max-width: 1200px;
        margin: 0 auto;

        @include breakpoint-up(large) {
            grid-template-columns: repeat(3, minmax(280px, 1fr));
        }

        & article {
            box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
        }

        & article img {
            max-width: 100%;
        }
    }

    &_text {
        &__project--tags {
            margin: 0;
            display: flex;
            gap: 10px;
            align-items: center;
            align-content: center;
            flex-direction: row;
            height: 30px;
            justify-content: center;
            list-style: none;
            padding: 0;
            position: absolute;
            margin-top: -65px;
            margin-left: 10px;

            .recent,
            .inprogress  {
                border-radius: 50px;
                margin: 0;
                color: white;
            }

            .recent {
                background: #4169E1;
            }

            .inprogress {
                background: #708090;
            }
        }

        &__project--links {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            padding: 0;
        }
    }
}